################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AlunosApi/FileContentIndex
/.vs/AlunosApi/FileContentIndex/read.lock
